* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 0, 0, 0.507);
}
.main-nav {
  width: 80%;
  height: 50px;

  margin: 10px auto;
  background-color: rgb(216, 204, 204);

  display: flex;
  justify-content: space-between;
}
.main-nav:hover {
  background-color: #eeebeb;
}

.butt {
  display: flex;
  gap: 20px;
  padding-top: 7px;

  align-items: center;
}
.right {
  display: flex;
  gap: 10px;
}
.signin {
  background-color: white;
  color: rgb(109, 230, 4);
  padding: 6px 12px;
  border-radius: 4px;
}
.signin:hover {
  color: blue;
  border: 1px solid;
}
.contact {
  background-color: skyblue;
  color: white;
  padding: 10px 40px;
  border-radius: 4px;
}