* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgba(212, 206, 206, 0.507);
}
.main-nav {
  width: 80%;
  height: 50px;

  margin: 10px auto;
  background-color: rgb(216, 204, 204);

  display: flex;
  justify-content: space-between;
}
.main-nav:hover {
  background-color: #eeebeb;
}

.butt {
  display: flex;
  gap: 20px;
  padding-top: 7px;

  align-items: center;
}
.signin {
  font-size: 18px;
}
.contact {
  font-size: 18px;
}
.right {
  display: flex;
  gap: 10px;
}
.signin {
  background-color: white;
  color: rgb(109, 230, 4);
  padding: 6px 12px;
  border-radius: 4px;
}
.signin:hover {
  color: blue;
  border: 1px solid;
}
.contact {
  background-color: skyblue;
  color: white;
  padding: 10px 40px;
  border-radius: 4px;
}
.p {
  margin-top: 65px;
  margin-bottom: 35px;
  margin-left: 170px;
  color: black;
  font-size: 14px;
}
.hero-sec {
  margin-left: 100px;
}
.hero-sec h3 {
  margin-left: 170px;
  font-size: 50px;
}
.hutton {
  display: flex;
  gap: 20px;
  padding-top: 7px;
  margin-left: 170px;
  align-items: center;
  margin-top: 40px;
}
.getstart {
  padding: 12px 28px;
  background-color: rgb(80, 80, 188);
  color: white;
  font-size: 18px;
}
.google {
  padding: 12px;
  color: rgb(80, 80, 188);
  font-size: 18px;
}
.google:hover {
  color: rgb(90, 90, 190);
}

.carsousel{
  margin: 100px auto;
  width: 90%;
  display: flex;
  overflow-x: auto;
  gap: 1em;

}
.carsousel::-webkit-scrollbar {
  display: none;

}
.group{
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 10s infinite linear;

}
.card{
  flex: 0 0 5em;
  height: 2em;
  padding: 1em;
  background-color: white;
  font-size: 2rem;
  border-radius: .2em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@keyframes spin 
 {
  from{ translate: 0;}
  to{ translate: -100%;}
}